@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Regular.eot'); 
    src: url('fonts/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Inconsolata-Regular.woff') format('woff'),
         url('fonts/Inconsolata-Regular.ttf') format('truetype'),
         url('fonts/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg'); 
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Inconsolata';
        font-weight: 400;
        font-style: normal;
        src: url('fonts/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg');
}
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Bold.eot'); 
    src: url('fonts/Inconsolata-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Inconsolata-Bold.woff') format('woff'),
         url('fonts/Inconsolata-Bold.ttf') format('truetype'),
         url('fonts/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg'); 
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Inconsolata';
        font-weight: 700;
        font-style: normal;
        src: url('fonts/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg');
}
}

a {
  text-decoration: none;
}

body {
  line-height: 0;
}


.menu {
    top: 207px;
    left: 924px;
    position: absolute;
    z-index: 1;
}

.menu--h {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size:16px;
    color:white;
}

.menu--h:hover {
    cursor:pointer;
}

.menu--h:hover span {
    animation: blinkit 0.3s linear infinite;   
}

@keyframes blinkit {
  50% {
    opacity: 0;
  }
}

.fondo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/pinturas/cadro_rosa.jpg");
  background-size: cover;
}

.principal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /*padding: 0 78px;*/
}

.principal__marco {
  position: relative;
  height: 275px;
  overflow: hidden;
}

.principal__link {
  flex: 1 0 30%;
  margin-right: 13px;
  margin-bottom: 13px;
}

.principal__nota {
  width: 100%;
}

.principal__cuadro {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.principal__marco:hover .principal__cuadro {
  opacity: 1;
}

.individual {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.individual::before {
  position:absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  box-shadow: inset 0px 0px 5px 1px #fff;
}

.individual__img {
  height: 100vh;
}